.form-box{
    animation-name: fade-down;
    animation-duration: 1s;
}
@keyframes fade-down {
    
    from{
        opacity: 0;
        margin-top: -500px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }

}